<!DOCTYPE html>
<html lang="en">

<head th:insert="~{BasePage :: headSection(title=~{::title/text()},script=~{::script},style=~{::style},link=~{::link})}"
	th:remove="tag">
	<title>Test Estimate Hub</title>

	<script th:src="@{/application/js/record/changeProcessing.js}"></script>
	<script>
		$(document).ready(function () {
			changeProcessing.init();
		});
	</script>
	<script id="estimateTemplate" type="text/template">
		<tr>
			<th scope="row">${testTypeName}</th>
			<td class="text-center">${testCaseCount}</td>
			<td class="text-center">${reExecutionCount}</td>
			<td class="text-center">${additionalCycleExecutionCount}</td>
			<td class="text-center">${totalExecutionCount}</td>
			<td class="text-center">${designEfforts}</td>
			<td class="text-center">${executionEfforts}</td>
			<td class="text-center">${totalEfforts}</td>
		</tr>
	</script>
	<script id="estimateDetailsTemplate" type="text/template">
		{%each(i,useCase) useCases%}                
            <div class="accordion-item">
				<h2 class="accordion-header">
					<button id="estimationSummaryAccordianButton_${useCase.id}" class="accordion-button collapsed"
						type="button" data-bs-toggle="collapse" data-bs-target="#collapse_${useCase.id}"
						aria-expanded="true" aria-controls="collapse_${useCase.id}">
						${identifier} - ${useCase.summary}
					</button>
				</h2>
				<div id="collapse_${useCase.id}" class="accordion-collapse collapse bg-primary-subtle"
					data-bs-parent="#accordionEstimationSummary">
					<div class="accordion-body">
						<table class="table table-striped table-borderless table-sm">
							<caption>Estimation details</caption>
							<thead>
								<tr>
									<th scope="col">Test Type</th>
									<th scope="col" class=" text-center">Test Case Count</th>
									<th scope="col" class=" text-center">Re-execution Count</th>
									<th scope="col" class=" text-center">Additional Cycle Execution Count</th>
									<th scope="col" class=" text-center">Total Executions</th>
									<th scope="col" class=" text-center">Design Efforts</th>
									<th scope="col" class=" text-center">Execution Efforts</th>
									<th scope="col" class=" text-center">Total Efforts</th>
								</tr>
							</thead>
							<tbody>
								{%each(i,estimationDetailRecord) useCase.estimationDetails%}
								<tr>
									<th scope="row">${estimationDetailRecord.testTypeName}</th>
									<td class="text-center">${estimationDetailRecord.testCaseCount}</td>
									<td class="text-center">${estimationDetailRecord.reExecutionCount}</td>
									<td class="text-center">${estimationDetailRecord.additionalCycleExecutionCount}</td>
									<td class="text-center">${estimationDetailRecord.totalExecutionCount}</td>
									<td class="text-center">${estimationDetailRecord.designEfforts}</td>
									<td class="text-center">${estimationDetailRecord.executionEfforts}</td>
									<td class="text-center">${estimationDetailRecord.totalEfforts}</td>
								</tr>
								{%/each%}
							</tbody>
						</table>
					</div>
				</div>
			</div>
        {%/each%}  
	</script>
	<script id="requirementFormTemplate" type="text/template">
		<tr id="requirementForm_${id}">
			<input type="hidden" class="form-control" id="id_${id}" name="id">
			<input type="hidden" class="form-control" id="changeId_${id}" name="changeId">
			<td><input type="text" class="form-control" id="identifier_${id}" name="identifier" placeholder="ID"
					required></td>
			<td><input type="text" class="form-control" id="summary_${id}" name="summary"
					placeholder="Summary" required></td>
			<td>
				<button class="btn btn-sm btn-body text-danger" id="deleteRequirement_${id}">
					<i class="fa fa-trash"></i>
				</button>
			</td>
		</tr>
	</script>
	<script id="recordListTemplate" type="text/template"
		sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TEST_MANAGER','ROLE_TEST_LEAD')">
		<tr>
			<td>${releaseIdentifier}</td>
			<td id="recordIdentifier_${id}_1">${identifier}</td>
			<td>${changeTypeName}</td>
			<td>${summary}</td>
			{%if statusCode == 'PENDING_ESTIMATION'%}
				<td><span class='badge text-bg-secondary'>${statusDisplayValue}</span></td>
			{%else statusCode == "PENDING_ESTIMATION_REVIEW"%}
				<td><span class='badge text-bg-warning'>${statusDisplayValue}</span></td>
			{%/if%}
			<td>
				<button class="border-0 bg-transparent" id="editRecordButton_${id}">
					<i class="fa fa-edit"></i> Edit
				</button>
				<button class="border-0 bg-transparent text-danger" id="deleteRecordButton_${id}">
					<i class="fa fa-trash"></i> Delete
				</button>
				{%if statusCode == 'PENDING_ESTIMATION'%}
					<a class="link-offset-2 link-underline link-underline-opacity-0 text-primary-emphasis" th:href="@{/estimationForm/} + '${id}'">
						<i class="fa-solid fa-scale-balanced"></i> Estimate
					</a>
				{%elseif statusCode == "PENDING_ESTIMATION_REVIEW"%}
					<button class="border-0 bg-transparent text-warning-emphasis" id="reviewEstimates_${id}">
						<i class="fa-solid fa-magnifying-glass"></i> Review Estimates
					</button>
				{%/if%}
			</td>
		</tr>
	</script>
	<script id="recordListTemplate" type="text/template" sec:authorize="hasRole('ROLE_TESTER')">
		<tr>
			<td>${releaseIdentifier}</td>
			<td>${identifier}</td>
			<td>${changeTypeName}</td>
			<td>${name}</td>
			<td>${statusDisplayValue}</td>
			<td>
				<button class="border-0 bg-transparent text-primary-emphasis" id="estimate_${id}">
					<i class="fa-solid fa-scale-balanced"></i> Estimate
				</button>
			</td>
		</tr>
	</script>
	<script id="recordListTemplate" type="text/template" sec:authorize="hasRole('ROLE_AUTOMATION_MANAGER')">
		<tr>
			<td>${releaseIdentifier}</td>
			<td>${identifier}</td>
			<td>${changeTypeName}</td>
			<td>${name}</td>
			<td>${statusDisplayValue}</td>
			<td>
				
			</td>
		</tr>
	</script>

	<script id="changeRecordListPlaceholder" type="text/template">
		<tr class="placeholder-glow">
			<td><span class="placeholder col-6 bg-dark"></span></td>
			<td><span class="placeholder col-6 bg-dark"></span></td>
			<td><span class="placeholder col-6 bg-dark"></span></td>
		</tr>
	</script>
</head>

<body>
	<input th:replace="~{BasePage :: csrfElement}" />

	<nav th:replace="~{BasePage :: pageHeader(subTitle='Change Record Management')}"></nav>

	<div class="modal fade" id="deleteConfirmationModal" tabindex="-1"
		aria-labelledby="deleteUserConfirmationModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="deleteUserConfirmationModalLabel">Delete Application Configuration
						Record</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="deleteRecordForm">
						<input type="hidden" class="form-control" id="deleteRecordId" name="id" required />
						Confirm delete operation for '<span class="fw-bold text-danger"
							id="deleteRecordIdentifierDisplay"></span>'
						<hr>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button id="confirmDeleteOperation" type="submit" class="btn btn-danger">Confirm Delete</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="estimationReviewModal" tabindex="-1" aria-labelledby="estimationReviewModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-fullscreen">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="estimationReviewModalLabel">Review Estimates</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<ul class="nav nav-underline mb-2 justify-content-end">
						<li class="nav-item">
							<a class="nav-link active" id="summary-tab" data-bs-toggle="tab"
								data-bs-target="#summary-tab-pane" type="button" role="tab"
								aria-controls="summary-tab-pane" aria-selected="true">Summary</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="detail-tab" data-bs-toggle="tab" data-bs-target="#detail-tab-pane"
								type="button" role="tab" aria-controls="detail-tab-pane"
								aria-selected="false">Details</a>
						</li>
					</ul>
					<div class="tab-content" id="estimationTabContent">
						<div class="tab-pane fade show active" id="summary-tab-pane" role="tabpanel"
							aria-labelledby="summary-tab" tabindex="0">
							<table id="changeEstimate" class="table table-striped table-borderless table-sm">
								<caption>Estimation summary</caption>
								<thead>
									<tr>
										<th scope="col">Test Type</th>
										<th scope="col" class=" text-center">Test Case Count</th>
										<th scope="col" class=" text-center">Re-execution Count</th>
										<th scope="col" class=" text-center">Additional Cycle Execution Count</th>
										<th scope="col" class=" text-center">Total Executions</th>
										<th scope="col" class=" text-center">Design Efforts</th>
										<th scope="col" class=" text-center">Execution Efforts</th>
										<th scope="col" class=" text-center">Total Efforts</th>
									</tr>
								</thead>
								<tbody id="changeEstimateBody">
									<tr>
										<th scope="row">SIT</th>
										<td class="text-center">25</td>
										<td class="text-center">25</td>
										<td class="text-center">25</td>
										<td class="text-center">25</td>
									</tr>
								</tbody>
							</table>
							<table class="table table-sm">
								<caption>Estimation</caption>
								<tr>
									<th scope="row">Design Efforts</th>
									<td id="designEfforts">50</td>
								</tr>
								<tr>
									<th scope="row">Execution Efforts</th>
									<td id="executionEfforts">50</td>
								</tr>
								<tr>
									<th scope="row">Planning Efforts</th>
									<td id="planningEfforts">50</td>
								</tr>
								<tr>
									<th scope="row">Preparation Efforts</th>
									<td id="preparationEfforts">50</td>
								</tr>
								<tr>
									<th scope="row">Management Efforts</th>
									<td id="managementEfforts">50</td>
								</tr>
								<tr class="table-success">
									<th scope="row">Total Efforts</th>
									<th scope="row" id="totalEfforts">50</th>
								</tr>
							</table>
						</div>
						<div class="tab-pane fade" id="detail-tab-pane" role="tabpanel" aria-labelledby="detail-tab"
							tabindex="0">
							<div class="accordion mt-2" id="accordionEstimationSummary">
							</div>
						</div>
					</div>
					<hr>
					<input id="changeToApprove" type="hidden" />
					<a id="reviseEstimates" class="link-offset-2 link-underline link-underline-opacity-0 btn btn-danger mt-2 ms-2" href="???">
						Revise
					</a>
					<button class="btn btn-success mt-2 ms-2" id="approveEstimatesButton">
						Approve Estimates
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="putRecordModal" tabindex="-1" aria-labelledby="putRecordModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="putRecordModalLabel">Change Record</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="putRecordForm" autocomplete="off">
						<div class="row mb-3">
							<input type="hidden" class="form-control" id="id" name="id" />
							<input type="hidden" class="form-control" id="status" name="status" required />

							<div class="col-4">
								<label class="form-label" for="releaseId">Release</label>
								<select class="form-select" id="releaseId" name="releaseId" required>
									<th:block th:each="release : ${releases}">
										<option th:value="${release.id}" th:text="${release.identifier}">July 2023
										</option>
									</th:block>
								</select>
							</div>
							<div class="col-8">

							</div>
							<div class="col-4">
								<label class="form-label" for="changeIdentifier">Change ID</label>
								<input type="text" class="form-control" id="identifier" name="identifier" required>
							</div>
							<div class="col-8">
								<label class="form-label" for="changeName">Change Summary</label>
								<input type="text" class="form-control" id="summary" name="summary" required>
							</div>
							<div class="col-4">
								<label class="form-label" for="changeTypeId">Change Type</label>
								<select class="form-select" id="changeTypeId" name="changeTypeId">
									<th:block th:each="changeType : ${changeTypes}">
										<option th:value="${changeType.id}" th:text="${changeType.name}">Significant
											Change</option>
									</th:block>
								</select>
							</div>
							<div class="col-4">
								<label for="startDate">Start Date</label>
								<input id="startDate" name="startDate" class="form-control" type="date" required />
							</div>
							<div class="col-4">
								<label for="endDate">End Date</label>
								<input id="endDate" name="endDate" class="form-control" type="date" required />
							</div>
							<div class="col-12">
								<label for="impactedArea">Select Impacted area</label>
								<select class="form-select" id="impactedArea" name="impactedArea" multiple
									aria-label="impactedArea" required>
									<th:block
										th:each="applicationConfigurationRecord : ${applicationConfigurationRecords}">
										<option th:value="${applicationConfigurationRecord.id}"
											th:text="|${applicationConfigurationRecord.application} - ${applicationConfigurationRecord.module} - ${applicationConfigurationRecord.subModule}|">
											Significant Change
										</option>
									</th:block>
								</select>
							</div>
							<table class="table table-striped table-sm caption-top p-4" id="requirementsFormTable">
								<caption>Requirements</caption>
								<thead>
									<tr>
										<th style="width:20%;">Requirement ID</th>
										<th style="width:60%;">Decription</th>
										<th style="width:10%;"></th>
									</tr>
								</thead>
								<tbody id="requirementFormsTableBody">
									<tr id="requirementForm_1">
										<input type="hidden" class="form-control" id="id_1" name="id">
										<input type="hidden" class="form-control" id="changeId_1" name="changeId">
										<td><input type="text" class="form-control" id="identifier_1" name="identifier"
												placeholder="ID" required></td>
										<td><input type="text" class="form-control" id="summary_1" name="summary"
												placeholder="Summary" required></td>
										<td>
											<button type="submit" class="visually-hidden"></button>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="4">
											<button class="btn btn-sm btn-body text-success" id="addRequirementButton">
												<i class="fa fa-plus"></i> Add Requirement
											</button>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
						<hr>
						<button id="dismissModal" type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>
						<button id="saveRecordButton" type="submit" class="btn btn-primary">Save changes</button>

					</form>

				</div>

			</div>
		</div>
	</div>

	<div class="p-3" id="recordContent">
		<button class="btn btn-sm btn-primary" id="addRecordButton"
			sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_TEST_MANAGER','ROLE_TEST_LEAD')" data-bs-toggle="modal"
			data-bs-target="#putRecordModal">
			<i class="fa fa-plus"></i> Add Change Record
		</button>
		<br>
		<br>
		<table class="table table-striped" id="recordTable">
			<caption>Change Records</caption>
			<thead>
				<tr>
					<th>Release</th>
					<th>Change</th>
					<th>Change Type</th>
					<th>Summary</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody id="recordTableBody">
			</tbody>
		</table>
	</div>
</body>

</html>